<a href="https://colab.research.google.com/github/lsuhpchelp/loniscworkshop2023/blob/main/day1/SolutionsPython101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Examples: Please solve the following problems: (Feel free to ask for help)

1. Write a line of code to print the sum of 999 and 1600.

In [15]:
myVar1 = 999
myVar2 = "1600"

print("My integer is ", myVar1  + int(myVar2))

My integer is  2599

2. Write a line of code to print out your "Hello, Name" where Name is your name.
Use the input() method to assign your name.

In [16]:
myInputVar = input("Please enter your Name")

print("Hello, ", myInputVar)

Please enter your NameOleg
Hello,  Oleg

3. Write a program to count occurrences of all characters within a string. Use the count() method and the dictionary.

In [18]:
aRandomString = """ Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

myCharDict = dict()

for char in aRandomString:
  count = aRandomString.count(char)

  myCharDict[char] = count

print("The result of counting a character ", myCharDict)

The result of counting a character  {' ': 16, 'L': 1, 'o': 10, 'r': 6, 'e': 11, 'm': 6, 'i': 11, 'p': 3, 's': 6, 'u': 6, 'd': 8, 'l': 5, 't': 9, 'a': 7, ',': 2, '\n': 3, 'c': 4, 'n': 5, 'g': 2, 'b': 1, 'q': 1, '.': 1}

4. Split a string on spaces and output each substring. Use the split() method and for loop.

In [30]:
aRandomString = """Lorem;ipsum;dolor;sit;amet;consectetur;adipiscing; 
elit;sed;do;eiusmod;tempor;incididunt;ut;labore;et;dolore;magna;aliqua"""

subString = aRandomString.split(";")

for i in subString:
  print(i)

Lorem
ipsum
dolor
sit
amet
consectetur
adipiscing

elit
sed
do
eiusmod
tempor
incididunt
ut
labore
et
dolore
magna
aliqua

4. Write a code snippet to calculate the total of the shopping spree on Rodeo. 

   Dr. You bought:

   1 pair of shoes: 2400
   1ùëùùëéùëñùëüùëúùëìùë†ùëôùëéùëêùëòùë†: 1500
   ruby ring: 22000

   State and local tax is 22%.

   You want to print out the untaxed total, the amount of tax and the total of tax and goods.

In [35]:
myRodeoDict = {"shoes":2400, "slacks":1500, "ring":22000}
print("My Dictionary :", myRodeoDict)

myTotalExpenses = sum(myRodeoDict.values())
print(myTotalExpenses)

myPaidTaxes = 0.22 * myTotalExpenses
print(myPaidTaxes)

grandTotal = myPaidTaxes + myTotalExpenses
print(grandTotal)

My Dictionary : {'shoes': 2400, 'slacks': 1500, 'ring': 22000}
25900
5698.0
31598.0

  5. Using the code you wrote above, make the tax calculation a function block and the shopping total a function block.

In [40]:
def myShoppingList(myRodeoDict):
  return sum(myRodeoDict.values())

def myPaidRodeoTax(myTotalExpenses): 
  return 0.22 * myTotalExpenses

  myTotalExpenses = myShoppingList(myRodeoDict)

print("My total expanses:", myTotalExpenses)
print("My paid taxes:", myPaidRodeoTax(myTotalExpenses))
print("My totla expenses:", myTotalExpenses + myPaidRodeoTax(myTotalExpenses))

My total expanses: 25900
My paid taxes: 5698.0
My totla expenses: 31598.0

6. Create a leap year finder based on the following algorithm:

Leap years occur according to the following formula: a leap year is divisible by four, but not by one hundred, unless it is divisible by four hundred. For example, 1992, 1996, and 2000 are leap years, but 1993 and 1900 are not. The next leap year that falls on a century will be 2400.

Use the following list to check and see if your code is correct. The list of leap years from 1900 to 2400 inclusive is:

1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020

7. Solve the same problem as above but make the leap year calculation & printing a function.

8. Using the code in the prime number example in the Control Structures section fix the code so it only prints out each prime number once.

In [ ]:
#prime numbers
n = 2
while n < 10:
    prime = True
    for x in range(2,n):
        if n % x == 0:
            prime = False
            break
    if prime:
      print(n, 'is a prime #  ')
    n = n + 1